@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.tag {
  background-color: $gray-light;
  padding: ($line-height-computed / 3) $padding-small-horizontal;
  margin-right: 5px;
  margin-bottom: 1px;
  display: inline-block;
  border-radius: $border-radius-large;

  a {
    // background-color: $brand-danger;
    // border-radius: 50%;
    width: 16px;
    text-align: center;
    color: $brand-independence;
    margin-left: 5px;
  }
}
