.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  overflow: hidden;

  .menu__col1,
  .menu__col2 {
    width: 100%;
    background-image: url('../../assets/footer_lodyas.png');
    background-repeat: repeat;
    position: absolute;
  }

  .menu__body {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;

    h1 {
      text-align: center;
      color: white;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 3px;
    }
  }
}
