@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.addResource {
  padding-top: $header-height-xs;
  padding-bottom: $footer-height;
  min-height: calc(100vh - #{$header-small-height});
}

.header {
  .navbarRight {
    position: absolute;
    right: 15px;
    top: 0;
    margin-top: 10px;
    > li > a {
      padding-left: 0;
      font-size: $font-size-h3;
    }

    li.deleteBtn > a {
      color: $brand-danger;
    }
    li.submitBtn.disabled > a{
      color: $gray;
    }
    li.submitBtn > a {
      color: $brand-success;
    }
  }
}

.successMessage {
  text-align: center;
  // padding-top: 100px;
  z-index: 5;
  background-color: $brand-success;
  position: fixed;
  height: calc(100vh - #{$footer-height});
  width: 100vw;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 0;
  }
  .circleBtn {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    color: $white;
    border: 2px solid $white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 44px;
    i {
      font-size: $font-size-h1;
    }
  }
}
