@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.header {
  .navbarRight {
    position: absolute;
    right: 15px;
    top: 0;
    margin-top: 10px;
    > li > a {
      padding-left: 0;
      font-size: $font-size-h3;
    }

    li.deleteBtn > a {
      color: $brand-danger;
    }
    li.submitBtn > a {
      color: $brand-success;
    }
  }
}

.addResource {
  padding-top: $header-height-xs;
  padding-bottom: $footer-height;
}

:global(.panel).preview {
  text-align: center;
  margin-bottom: 15px;
  > :global(.panel-heading) > :global(.panel-title) > h3 {
    margin-bottom: -$font-size-h3;
    text-transform: uppercase;
  }
  > :global(.panel-body) {
    @include box-shadow(0 2px 7px 0 rgba(0, 0, 0, .25));
  }
  .content {
    text-align: left;
    padding: 0 15px;
  }
}

.successMessage {
  text-align: center;
  // padding-top: 100px;
  z-index: 5;
  background-color: $brand-success;
  position: fixed;
  height: calc(100vh - #{$footer-height};
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 0;
  }
  .circleBtn {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    color: $white;
    border: 2px solid $white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 44px;
    i {
      font-size: $font-size-h1;
    }
  }
}
