@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';

.home {
  min-height: calc(100vh - #{$header-height-xs});
  padding-bottom: 86px;
  .instruction {
    margin-bottom: 30px;
  }

  .masthead {
    .logo {
      // background-image: url('./Logo@2x.png');
      // background-repeat: no-repeat;
      // background-size: cover;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 67px;
      width: 231px;
      height: 163px;
    }
    // min-height: 100vh;
    position: relative;
    margin-bottom: 20px;

    margin-top: 88px;
    @media only screen and (min-width : $screen-sm) {
      margin-top: 137px;
    }
    @media only screen and (min-width : $screen-md) {
      margin-top: 147px;
    }
  }
  .suggestedTags {
    position: absolute;
    width: 100%;
    background-color: $body-bg;
  }

  .remove {
    border-bottom: 0;
    margin-left: 5px;
  }
  .tagsSuggestionLabel {
    margin-top: 43px;
  }
}

.addResourceBtn {
  position: fixed !important;
  bottom: $footer-height + 57px;
  right: 74px;
  display: none;
  @include box-shadow(1px 2px 6px 0 rgba(0,0,0,0.5));
  @media (min-width: $container-sm) {
    display: initial;
  }
}

.addResourceModal {
  @media (min-width: $container-sm) {
    display: none;
  }
  :global(.modal-body) {
    padding-left: 50px;
    padding-right: 50px;
  }
  .controlBtns {
    button:global(.btn) {
      width: 134px;
    }
  }
}

.successMessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 86px;
  display: block;
  background-color: $brand-success;
  color: $white;
  z-index: 1;
  h2 {
    i {
      font-size: $font-size-h2;
      margin-right: 54px;
      cursor: pointer;
      position: absolute;
      right: 0;
    }
  }
}
