/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #535353;
$gray:                   #A2A2A2;
$gray-light:             rgba(162, 162, 162, 0.37);
$gray-lighter:           rgba(245, 245, 245, 0.94);
$granite-gray:           #686963;
$brand-sea-serpent:      #66CED6;
$brand-independence:     #3D5467;
$brand-dark-terra-cotta: #DB5461;
$brand-white-smoke:      rgba(245, 245, 245, 0.94);
$white:                  #F9F9F9;

$brand-primary:         $brand-independence;
$brand-success:         #06D6A0;
$brand-info:            $brand-sea-serpent;
$brand-warning:         #f0ad4e !default;
$brand-danger:          $brand-dark-terra-cotta;

$headings-font-weight: 600;
$text-color: #333;
$font-size-base: 16px;
$font-family-sans-serif: "Avenir Next", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$link-color:            $brand-info;

$font-size-h3:            ceil(($font-size-base * 1.5));

$body-bg: $white;

$padding-base-vertical: 20px;
$line-height-base: 1.375;

$border-radius-base: 1px;
$border-radius-large: 2px;
$border-radius-small: 0;
$border-box-shadow-color: rgba(0, 0, 0, 0.075);

$input-border: $brand-independence;
$input-bg: $body-bg;

// Panel
$panel-body-padding: 15px 0;
$panel-bg: transparent;
$panel-default-heading-bg: transparent;

// Pagination
$pagination-bg: transparent;
$pagination-color: $brand-independence;
$pagination-active-color: $brand-info;
$pagination-active-bg: transparent;
$pagination-hover-bg: transparent;
$pagination-disabled-bg: transparent;

// Footer
$footer-height: 51px;

// Header
$header-height-xs: 86px;
$header-small-height: 64px;

// Navbar
$navbar-default-bg: $brand-white-smoke;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-active-color: $brand-primary;
$navbar-padding-vertical: 32px;
$navbar-inverse-color: $white;
$navbar-inverse-bg: $brand-primary;

// Button
$btn-default-color: $white;
$btn-default-bg: $gray;
$btn-default-border: $gray;

// Type
$state-danger-text: $brand-danger;

// Forms
$input-bg: transparent;
