@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.logoSVG {
  .faceOuter {
    rx: 5px;
  }

  .glass {
    @include transition(transform .3s ease-in);
    &.glassLeft {
      transform: translate(0, 146px);
    }
    &.glassRight {
      transform: translate(228px, 146px);
    }
    .glassOuter {
      rx: 5px;
    }
  }

  :hover {
    .glass {
      &.glassLeft {
        transform: translate(0, 136px);
      }
      &.glassRight {
        transform: translate(228px, 136px);
      }
    }
  }
}
