@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

$border-color: rgba(160,160,160,0.3);

.frontendAdvisor {
  .masthead {
    // min-height: 100vh;
    position: relative;
    margin-bottom: 100px;

    margin-top: 10px;
    @media only screen and (min-width : $screen-sm) {
      margin-top: 100px;
    }
    @media only screen and (min-width : $screen-md) {
      margin-top: 200px;
    }
  }
  .tagInputField {

  }
  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  .tag:hover {
    background-color: crimson;
    color: white;
  }

  .tag:hover::after {
     border-left-color: crimson;
  }
  // .tag {
  //   border: 1px solid $border-color;
  //   padding: 4px 11px;
  //   + .tag {
  //     border-left: 0;
  //   }
  // }
  .remove {
    border-bottom: 0;
    margin-left: 5px;
  }
  .suggestions {
    // position: absolute;
    z-index: 1;
    ul {
      list-style-type: none;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
      // width: 200px;
      background: white;
      padding-left: 0;
      li {
        border-bottom: 1px solid $border-color;
        padding: 5px 10px;
        &:global(.active) {
          cursor: pointer;
          background: #b7cfe0;
        }
      }
    }
  }
}
