@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.frontendAdvisor {
  .masthead {
    .logo {
      background-image: url('./Logo2x.png');
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 67px;
      width: 231px;
      height: 101px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    // min-height: 100vh;
    position: relative;
    margin-bottom: 100px;

    margin-top: 10vh;
    @media only screen and (min-width : $screen-sm) {
      margin-top: 100px;
    }
    @media only screen and (min-width : $screen-md) {
      margin-top: 200px;
    }
  }
  .suggestedTags {
    position: absolute;
  }

  .remove {
    border-bottom: 0;
    margin-left: 5px;
  }
  .tagsSuggestionLabel {
    margin-top: 43px;
  }
}
