@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.header {
  z-index: 3;
  .navNormalScreen {}
  .navSmallScreen {
    @include transition(margin-top .3s ease-in, margin-bottom .3s ease-in);

    .logo {
      @include transition(height .3s ease-in);
    }
    &.scrolled {
      margin-top: 10px;
      margin-bottom: 10px;
      .logo {
        height: 40px;
      }
    }
  }
}

.logo {
  height: 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
