@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.bookmarkedText {
  color: $gray;
  i:global(.material-icons) {
    vertical-align: bottom;
  }
}

.bookmarkIcon {
  color: $gray-granite;
  cursor: pointer;
  &.mobile {
    vertical-align: top;
  }
  vertical-align: bottom;
}

.title {
  width: calc(100% - 27px);
  display: inline-block;
}