@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.footer {
  color: $white;
  :global(.fa) {
    font-size: 2em;
  }
  :global(.col-xs-4) {
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .footerBtn {
    color: $white;
    &:hover {
      background-color: lighten($navbar-inverse-bg, 5%);
    }
  }
}
