@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.footer {
	background-image: linear-gradient(-139deg, #708DA0 0%, #3D5467 100%);
	color: $white;
	height: $footer-height;

	@media only screen and (min-width : $screen-sm) {
		text-align: left;
	}
}
