.homePage {
  background-image: url(../../assets/light_wool.png);
  background-repeat: repeat;

  .title__cover {
    background-image: url(../../assets/footer_lodyas.png);
    background-repeat: repeat;
  }
  .bottomSection {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    .text {
      margin-top: 6px;
      margin-bottom: 20px;
    }
  }
}
