.homePage {
  background-image: url(../../assets/light_wool.png);
  background-repeat: repeat;

  .title__cover {
    background-image: url(../../assets/footer_lodyas.png);
    background-repeat: repeat;
  }
}
